.footer {
    background-color: #282c34;
    color: white;
    padding: 20px;
    text-align: center;
    font-size: 14px;
    border-radius: 20px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.text-center {
    text-align: center;
}